<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <cors enabled="true">
      <add origin="https://maanit-website-cgcahtb3enhhhchr.northeurope-01.azurewebsites.net" />
      <add origin="https://maanitwebapp.com" />
    </cors>
    <rewrite>
      <rules>
        <rule name="AAD Redirect" stopProcessing="true">
          <match url="^.auth/" />
          <action type="None" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add CORS Headers">
          <match serverVariable="RESPONSE_Access-Control-Allow-Headers" pattern=".*" />
          <action type="Rewrite" value="Content-Type, Accept, X-Requested-With, Authorization" />
        </rule>
        <rule name="Add CORS Methods">
          <match serverVariable="RESPONSE_Access-Control-Allow-Methods" pattern=".*" />
          <action type="Rewrite" value="GET, POST, PUT, DELETE, OPTIONS" />
        </rule>
        <rule name="Add CORS Credentials">
          <match serverVariable="RESPONSE_Access-Control-Allow-Credentials" pattern=".*" />
          <action type="Rewrite" value="true" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>